<ng-template #noData>
  <h3 style="margin-left: 320px;">No Data Available!!!</h3> 
 
 </ng-template>
<!-- modal -->
<div class="col text-right">
  
  <a  class="btn btn-success" data-toggle="modal"  data-target="#largeModal">Add Coupons</a>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <br>
<form [formGroup]="couponsForm" (ngSubmit)="onSubmit(couponsForm.value)">
     <!-- ////coupon/// -->
     <br>
     <div class="row">

                

                  <div class="col-md-2 form-group text-center" >
                      <label  for="couponCode"> coupon Code :</label>
                  </div>
                  <div class="col-md-4 form-group">
                  <input type="text" formControlName="couponCode" id="couponCode " class="form-control" 
                 [ngClass]="{ 'is-invalid': submitted && f.couponCode .errors }" />
                  <div *ngIf="submitted && f.couponCode .errors" class="invalid-feedback">
                      <div *ngIf="f.couponCode .errors.required"> coupon Code  is required</div>
                      <div *ngIf="f.couponCode .errors.minlength"> minimun 8 Letters</div>

          
                  </div>
              </div>
          
           
    
          <!-- ////couponDescription// -->
                  <div class="col-md-2 form-group text-center" >
                      <label  for="couponDescription"> couponDescription:</label>
                  </div>
                  <div class="col-md-4 form-group">
              <input type="couponDescription" formControlName="couponDescription" id="couponDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.couponDescription.errors }" />
              <div *ngIf="submitted && f.couponDescription.errors" class="invalid-feedback">
                  <div *ngIf="f.couponDescription.errors.required">couponDescription is required</div>
              </div>
          </div>

      </div>
<!-- ////couponType/// -->
        
              <div class="row">
                  <div class="col-md-2 form-group text-center" >
                      <label  for="couponType"> couponType:</label>
                  </div>
                  <div class="col-md-4 form-group">
                <select class="custom-select"  formControlName="couponType" [ngClass]="{ 'is-invalid': submitted && f.couponType.errors }">
                  <option value="">couponType</option>
                  <option *ngFor="let couponType of type" [ngValue]="couponType">{{couponType}}</option>
                </select>
              <div *ngIf="submitted && f.couponType.errors" class="invalid-feedback">
                  <div *ngIf="f.couponType.errors.required">couponType  required</div>
              </div>
                  </div>
         
    
              <!-- ////couponValue///// -->
       
                  <div class="col-md-2 form-group text-center" >
                      <label  for="couponValue"> couponValue:</label>
                  </div>
                  <div class="col-md-4 form-group">
              <input type="number" formControlName="couponValue" id="couponValue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.couponValue.errors }" />
              <div *ngIf="submitted && f.couponValue.errors" class="invalid-feedback">
                  <div *ngIf="f.couponValue.errors.required">couponValue is required</div>
              </div>
          </div>
         
      </div>
       

     
      
<!-- /startDate//////////// -->
              <div class="row">
                  <div class="col-md-2 form-group text-right" >
                      <label  for="startDate"> startDate:</label>
                  </div>
                  <div class="col-md-4 form-group">
              <input type="date" formControlName="startDate" id="startDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
              <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                  <div *ngIf="f.startDate.errors.required">startDate is required</div>
              </div>
          </div>

<!-- /////endDate///// -->
     
                  <div class="col-md-2 form-group text-right" >
                      <label  for="endDate"> endDate:</label>
                  </div>
                  <div class="col-md-4 form-group">
              <input type="date" formControlName="endDate" id="endDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
              <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                  <div *ngIf="f.endDate.errors.required">endDate is required</div>
              </div>
          </div>
          </div>
          
      <!-- //////////////// -->
          <div class="text-center">
            <button type="button" #closebutton class="close" data-dismiss="modal"></button>
              <button class="btn btn-primary mr-1" type="submit"  (click)="close()">Save Coupon</button>
              <button class="btn btn-secondary" type="reset" data-dismiss="modal">Cancel</button>
          </div>
      </form>
   
  
    </div>
  </div>
</div>

<!-- //////////////// -->
 
 <h1 style="text-align: center;color:rgb(241, 45, 10)"><img src="../../../../assets/images/discount.png" style="width:50px;height:50px">Coupons Available:{{coupon.length}}</h1>

 <ng-container *ngIf="coupon.length>0;else noData">
<div class="container">
<h1>COUPONS</h1>



    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">S.no</th>
              <th scope="col">coupon Code</th>
              <th scope="col">Coupon Description</th>
              <th scope="col">Coupon Type</th>
              <th scope="col">Coupon Value</th>
              <th scope="col">Start Date </th>
              <th scope="col">End Date </th>
              <th scope="col">Status</th>
              <th scope="col">Actions </th>
            </tr>
          </thead>

          <tbody *ngFor="let data of coupon | paginate: { itemsPerPage: 5,currentPage:p}; let i = index"> 
            <tr >
              <th scope="row">{{i+1}}</th>
              <td>{{data.couponCode}}</td>
              <td>{{data.couponDescription}}</td>
              <td>{{data.couponType}}</td>
              <td>{{data.couponValue}}</td>
             
              <td>{{data.startDate}}</td>
             
              <td>{{data.endDate}}</td>

              <td>{{data.status}}</td>
              <td>
                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
              </td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

  </ng-container>




