
 
<div class="container-fluid">
<div class="row">
<div class="col-sm-4 "></div>

<div class="col-sm-4 mt-5">
<div class="jumbotron bg-dark text-white">
<h1 class="text-center">RESET PASSWORD</h1>
<form [formGroup]="resetform"(ngSubmit)="submit(resetform.value)">
<table class="mt-5 text-center">

</table>
<div class="form-group mt-2">
<label for="username"class="text-left">Mobilenumber:</label>
<input type="text" formControlName="username" id="username" class="form-control" placeholder="Mobile Number"
minlength="10" maxlength="10"  />
<div *ngIf="f.username.errors" class="invalid-feedback">
   <div *ngIf="f.username.errors.required">mobile number required</div>
   <div *ngIf="f.username.errors.pattern">mobile number must be valid(6-9)</div>
</div>

</div>
<div class="form-group">
<label for="Newpassword"class="text-left">New password:</label>
<input type="password"formControlName="password"id="Newpassword"class="form-control"ngModel>
<div *ngIf="f.password.touched && f.password.invalid"class="alert alert-danger">
<span>Paassword Required</span>
                      <span>minimum length should be 8</span>
<div *ngIf="f.password.errors.required">Password Required</div>
<div *ngIf="f.password.errors.minlength">Password Length should be mimimum 8 charecters</div>
<div class="error-text" *ngIf="resetform.get('password').hasError('passwordStrength')">
  {{resetform.get('password').errors['passwordStrength']}}
</div>
</div>
</div>
 
<div class="form-group">
<label for="confirmpassword"class="text-left">confirm password:</label>
<input type="password"formControlName="confirmpassword"id="confirmpassword"class="form-control"ngModel>
<div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid"class="alert alert-danger">
<div *ngIf="f.confirmpassword.errors.required">Password Required</div>
<div *ngIf="f.confirmpassword.errors.minlength">Password Length should be mimimum 8 charecters</div>

<div *ngIf="resetform.get('confirmpassword').errors.confirmPasswordValidator">Passsword and
                        Confirm Password didn't match.
</div>
</div>
</div>
 
<div class="form-group text-center">
<button type="submit"class="btn btn-warning">Reset password</button>
</div>
</form>


</div>
</div>
<div class="col-sm-4 "></div>
</div>
</div>

