.box
{
    border:2px double rgb(255, 255, 255);
    float: left;
    width: 180px;
    height: 250px;
    margin: 5px;
    background-color: black;
    color: white;
}
.box1
{
    border:2px double black;
    float: left;
    width: 180px;
    height: 250px;
    margin: 5px;
    background-color: white;
    color: black;
}