<div class="container" >
    <div class="card">
    <h1> Dashboard</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
                <div class="content">
                    <span>Coupons Available:</span>
                    <span> <strong>  {{coupon}} </strong></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-6 col-6">
                <img src="../../../../assets/images/electric-appliance (1).png" style="width:50px;height:50px"alt="img">
              
                <div class="content">
                    <!-- &nbsp; &nbsp; &nbsp; -->
                    <span> Inventory:</span>
                    <span><strong>  {{ products}} </strong></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <img src="../../../../assets/images/return-order.png" style="width:50px;height:50px"alt="img">
                <div class="content">
                    <span>Return Orders:</span>
                    <span> <strong> {{ orders}}</strong></span>
                </div>
            </div>
            
    
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <img src="https://admin.spurtcart.com/assets/img/Payments.fw.png" style="width:50px;height:50px"alt="img">
                <div class="content">
                    <span> Transactions:</span>
                    <span> <strong>  {{transactions}} </strong></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  col-sm-6 col-6">
                <img src="https://admin.spurtcart.com/assets/img/Customers.fw.png"  style="width:50px;height:50px"alt="img">
                <div class="content">
                    <span>View Users:</span>
                    <span> <strong> {{listusers}} </strong></span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <img src="https://admin.spurtcart.com/assets/img/Customers.fw.png"  style="width:50px;height:50px"alt="img">
                <div class="content">
                    <span>Forgot password(user):</span>
                    <span> <strong> {{forgotpassword}}</strong></span>
                </div>
            </div>
        </div>
        <div class="row">
         
            
        </div>
        <!-- <div class="flex">
            <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
            <div class="content">
                <span>Coupons Available:</span>
                <span>{{coupon}}</span>
            </div>
            <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
            <div class="content">
                <span>Coupons Available:</span>
                <span>{{coupon}}</span>
            </div>
            <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
            <div class="content">
                <span>Coupons Available:</span>
                <span>{{coupon}}</span>
            </div>
            <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
            <div class="content">
                <span>Coupons Available:</span>
                <span>{{coupon}}</span>
            </div>
            <img src="../../../../assets/images/discount.png"  style="width:50px;height:50px"alt="img">
            <div class="content">
                <span>Coupons Available:</span>
                <span>{{coupon}}</span>
            </div>
        </div> -->
    </div>
    </div>