<div class="container">
  <div class="row">
    <h1>Mens Wear:</h1>
    <ng-container *ngFor="let item of mensList">
      <div class="card col-md-3" routerLink="/products/{{item.categorys}}">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>{{item.categorys}}</b></h5>
          <h5 class="card-title" style="font-weight: bold;">{{item.title}}</h5>
        </div>
      </div>
    </ng-container>
  </div>
  <br>
  <div class="row">
    <h1>Womens Wear:</h1>
    <ng-container *ngFor="let item of womensList">

      <div class="card col-md-3" routerLink="/products/{{item.categorys}}">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>{{item.categorys}}</b></h5>
          <h5 class="card-title" style="font-weight: bold;">{{item.title}}</h5>


        </div>

      </div>
    </ng-container>

  </div>
  <br>
  <div class="row">
    <h1>Kids Wear:</h1>
    <ng-container *ngFor="let item of kidsList">

      <div class="card col-md-3" routerLink="/products/{{item.categorys}}">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>{{item.categorys}}</b></h5>
          <h5 class="card-title" style="font-weight: bold;">{{item.title}}</h5>


        </div>

      </div>
    </ng-container>

  </div>
</div>