<div class="container" >
  <h2>Men's wear</h2>
  <div class="row" routerLink="/appearels/menswear"> 
      <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/Shirts.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shirts</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/t-shirts.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">T-shirts</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/Jeans.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jeans</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/tracks-min.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Track pants</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/footwear.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shoes</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/sandals.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> sandals</h5>
          </div>
        </div>           
  </div>
  <h2>Women's wear</h2>
  <div class="row"> 
      <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/sarees.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sarees</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/dress.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dresses</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/kurtas.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Kurtas & kurta sets</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/handbags.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">handbags</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/nightdress.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">nightdress</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/wjacket.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">jacket</h5>
          </div>
        </div>           
  </div>
  <h2>Kid's wear</h2>
  <div class="row"> 
      <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/hp.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/hp2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/homedeco.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/god.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/shoes.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>
        <div class="card col-6 col-lg-2">
          <img class="card-img-top" src="../../../../../assets/images/Products/Appearels/walldeco.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Product name</h5>
          </div>
        </div>           
  </div>
</div>