i{
    width: 20px;
    height: 20px;
    border: black solid 1px;
    border-radius: 2%;
    justify-content: center;
    background-color: blanchedalmond;
}

.btn1
{
  border-radius: 50%;
  background-color: firebrick;
  margin: 0 4px;
  cursor: pointer;
}