<div class="container" >
    <div class="row"> <h1>Mens Wear:</h1>
        <ng-container *ngFor="let item of totalProductsmens">
      
          
              <div class="card col-md-3" >
                  <img src="{{item.image}}" alt="">
             <b><h1 style="text-align: center;">Category:{{item.category}}</h1></b> 

                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                  <h1 style="text-align: center;color: aquamarine;">Total products:{{item.noofproducts}}</h1>
                  <h3  style="text-align: center;color:green">Available:{{item.available}}</h3>
                <h3 style="text-align: center;color:red">Sold:{{item.sold}}</h3>
              </div>
         
        </ng-container>
  
    </div>
    <br>
    <div class="row"> <h1>Womens Wear:</h1>
      <ng-container *ngFor="let item of totalProductswomens">
              <div class="card col-md-3" >
              <img src="{{item.image}}" alt="">
              <b><h1 style="text-align: center;">Category:{{item.category}}</h1></b> 

              <h1 style="text-align: center;color: aquamarine;">Total products:{{item.noofproducts}}</h1>
              <h3  style="text-align: center;color:green">Available:{{item.available}}</h3>
              <h3 style="text-align: center;color:red">Sold:{{item.sold}}</h3>
       
          </div>
      </ng-container>
  
  </div>
  <br>
  <div class="row"> <h1>Kids Wear:</h1>
    <ng-container *ngFor="let item of totalProductskids">
            <div class="card col-md-3" >
            <img src="{{item.image}}" alt="">
            <b><h1 style="text-align: center;">Category:{{item.category}}</h1></b> 


            <h1 style="text-align: center;color: aquamarine;">Total products:{{item.noofproducts}}</h1>
            <h3  style="text-align: center;color:green">Available:{{item.available}}</h3>
            <h3 style="text-align: center;color:red">Sold:{{item.sold}}</h3>
        </div>
    </ng-container>
  
  </div>
  </div>
  
  