<hr>

<div class="row" style="text-align:center" data-aos="fade-left" data-aos-delay="600">
  
     

     
        <!-- kitchen-items -->
     
          <div class="col-md-4">
          <div class="row align-items-center" >
            <div class="card" routerLink="/home-kitchen/kitchen-items">
                  <h2 class="mb-4">kitchen-items</h2>
                  <p style="color:black" class="mb-4">kitchen-items</p>
               
                    <div class="card-body">        
                            <img style=" width: 301px;height: 165px;" src="../../assets/images/Mobiles,Laptops and Home appliances.jpeg" alt="Image" class="img-fluid">
                    </div>
                      <p ><a    class="btn btn-info">For more Details</a></p>
                  </div>
                </div>
              </div>
     
            <div class="col-md-1"></div>
     
              <!-- home-furnituring -->
              
               <div class="col-md-4 home">
                <div class="row align-items-center"  >
                  <div class="card" routerLink="/home-kitchen/home-furnituring"  >
                        <h2 class="mb-4" id="home">Home-furnishings</h2>
                        <p style="color:black" class="mb-4">Home-furnishings</p>
                     
                          <div class="card-body">        
                                  <img style=" width: 301px;height: 165px;" src="../../assets/images/Kitchen items and Home furnishings.png" alt="Image" class="img-fluid">
                          </div>
                            <p><a class="btn btn-info">For more Details</a></p>
                        </div>
                      </div>
     
                    </div>
 </div>

