<div class="container">

  <div class="row">
    <h1>Home & Kitchen:</h1>
    <div *ngIf="loaderservice.isLoading | async" class="loader-container">
      <mat-spinner style="top: 0%; left: 10%; " diameter="40"></mat-spinner>
    </div>
    
    <ng-container *ngFor="let item of homekitchenList">


      <div class="card col-md-3" routerLink="/products/{{item.categorys}}">

        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title"><b>{{item.categorys}}</b></h5>


        </div>

      </div>

    </ng-container>

  </div>
  <br>
  <div class="row">
    <h1>Home & Furniture:</h1>
    <div *ngIf="loaderservice.isLoading | async" class="loader-container">
      <mat-spinner style="top: 0%; left: 10%; " diameter="40"></mat-spinner>
    </div>
    
    <ng-container *ngFor="let item of homefurnitureList">

      <div class="card col-md-3" routerLink="/products/{{item.categorys}}">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>{{item.categorys}}</b></h5>

        </div>

      </div>
    </ng-container>

  </div>
  <br>
</div>