<div class="container"  style="width: 1000px;">


    <div class="progresses py-4">
        <ul class="d-flex align-items-center justify-content-between">
            <li id="step-1"  [style.background-color]="bgcolor1"></li>
            <li id="step-2"   [style.background-color]="bgcolor2"></li>
            <li id="step-3" [style.background-color]="bgcolor3"></li>
            <li id="step-4"  [style.background-color]="bgcolor4"></li>
        </ul>
        <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="width" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
