
 <ng-template #noData>
    <h3 style="margin-left: 320px;">No Data Available!!!</h3> 
   </ng-template>
   <h1 style="text-align: center;color:green"><i class="fa fa-credit-card" style="font-size:36px"></i>Total Transactions :{{transactions.length}}</h1>

   <ng-container *ngIf="transactions.length>0; else noData">

 <table class="table table-bordered">
    <thead>
      <tr>
          <th scope="col">sno</th>
          <th scope="col">order-id</th>
        <th scope="col">username</th>
 
        <th scope="col">transactiontype</th>

        <th scope="col">Card-type</th>
        <th scope="col">funding</th>
        <th scope="col">price</th>
        <th scope="col">status</th>



     
      </tr>


    </thead>
    <tbody *ngFor="let data of transactions | paginate: { itemsPerPage: 3,currentPage:p}; let i = index"> 
      <tr >
        <td>{{i+1}}</td>
        <th scope="row">{{data.orderId}}</th>
        <td>{{data.name}}</td>
    
        <td>{{data.object}}</td>
    
        <td>{{data.brand}}</td>

        <td>{{data.funding}}</td>
        <td>{{data.price}}</td>

        <td>{{data.status}}</td>



     
      </tr>
    
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
  </ng-container>