.container
{
    width:800px;
    margin: auto;
    color: red;
}
p
{
    
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.list
{
    border: 2px solid black;
    width: 150px;
    height: 150px;
}