<div class="container-fluid" style="margin-top: 40px;">
  <h1 class="text-info text-center mt-3">Forgot Password</h1>
  <div class="row mt-3">
    <div class="col-sm-4 "></div>
    <div class="col-sm-4 jumbotron bg-dark text-white">
      <form  [formGroup]="forgotpassword" (ngSubmit)="onForgotPassword(forgotpassword.value)">
        <div class="form-group ">
          <div class="row">
              <div class="col-md-4 form-group text-center" >
                  <label  for="mobile"> Mobilenumber:</label>
              </div>
              <div class="col-md-8 form-group">
          <input type="text" formControlName="mobile" id="mobile" class="form-control" 
           minlength="10" maxlength="10" [ngClass]="{'is-invalid': submitted && f.mobile.errors }" />
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">mobile number required</div>
              <div *ngIf="f.mobile.errors.pattern">mobile number must be valid(6-9)and 10 digits</div>
          </div>
              </div>
          </div>
      </div>
      


        <div class="text-center">
          <button type="submit" class="btn btn-success" routerLink="/reset">Reset password</button>
        </div>
      </form>

      <!-- <button (click)="showToaster()">
        Show Toaster
    </button> -->
  
    </div>
    <div class="col-sm-4 "></div>
  </div>
</div>



