<!-- <section class="accordion">
  <input type="checkbox" name="collapse" id="handle" checked="checked" >
  <h2 class="handle"  *ngFor="let data of transactions ">
    <label for="handle">ID:{{data.orderid}} Name:{{data.name}}</label>
  </h2>
  <div class="content">
    <table class="table table-bordered">
        <thead>
          <tr>
              <th scope="col">orderid</th>
            <th scope="col">username</th>
            <th scope="col">productimage</th>
            <th scope="col">description</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">coupon</th>
            <th scope="col">total</th>
            <th scope="col">transactiontype</th>
    
    
         
          </tr>
        </thead>
        <tbody *ngFor="let data of transactions "> 
          <tr >
            <th scope="row">{{i+1}}</th>
            <td>{{data.name}}</td>
            <td>{{data.productimage}}</td>
            <td>{{data.productdescription}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.price}}</td>
            <td>{{data.coupon}}</td>
            <td>{{data.total}}</td>
            <td>{{data.transactiontype}}</td>
    
    
         
          </tr>
        
        </tbody>
      </table>
   
  </div>
</section>

 -->
 <ng-template #noData>
    <h3 style="margin-left: 320px;">No Data Available!!!</h3> 
   </ng-template>
   <h1 style="text-align: center;color:rgb(241, 45, 10)"><img src="../../../../assets/images/return-order.png" style="width:50px;height:50px">Return orders:{{orders.length}}</h1>

   <ng-container *ngIf="orders .length>0;else noData">

 <table class="table table-bordered">
    <thead>
      <tr>
          <th scope="col"> Id</th>
        <th scope="col">productimage</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">reason</th>

        <th scope="col">status</th>
        <th scope="col">submit</th>




     
      </tr>
    </thead>
    <tbody *ngFor="let data of orders "> 
      <tr >
        <th scope="row">{{data.id}}</th>
        <td><img src="{{data.image}}" style="width:100px;height:100px"></td>
        <td>{{data.description}}</td>
        <td>{{data.price}}</td>
        <td>{{data.reason}}</td>
        <td>    <select class=" form-control" id="pending">
            <option>pending</option>
            <option>Approved</option>
          </select>
        </td>
      <td> <button type="button" class="btn btn-success">submit</button></td> 


     
      </tr>
    
    </tbody>
  </table>

  </ng-container>