
 <div class="container">
  <br>
  <br>
  <!-- <h1 style="margin-left:100px">{{overview.title}}</h1> -->
  <div class="row" style="margin-top: 35px;">
      <div class="col-6 col-md-4 col-lg-4 offset-md-lg-1">
        <lib-ngx-image-zoom
[thumbImage]=overview.image
   [fullImage]=overview.image
   [magnification]="1.5"
   [enableScrollZoom]="true"
   [enableLens]="true"
   [lensWidth]="150"
   [lensHeight]="150"
></lib-ngx-image-zoom>
         
      </div>
      <div class="col-6 col-md-4 col-lg-4 ">

          <p><strong>Price: </strong>{{overview.price|currency:'INR' }} </p>

          <p><strong>rating: </strong>{{overview.rating}} </p>

          <p><strong>Free delivery Aug 16-Aug22</strong> <a>Details</a></p>
          <!-- <p><strong>EMI starts at: </strong>{{x.emi}} ₹</p> -->


          <button type="button" class="btn btn-success" (click)="addToCart(overview)" >Add to cart</button>
          <button type="button" class="btn btn-warning">Buy now</button>
      </div>
      <div class="col-6 col-md-2 col-lg-4">
          <div class="card two" style="width: 18rem;">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><h3><i class="fa fa-gift" aria-hidden="true"></i>
                      <strong>Offers</strong></h3></li>
                  <li class="form-check list-group-item">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              5% off
                          </label>
                      </div>
                  </li>
                  <li class="form-check list-group-item">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              5% off
                          </label>
                      </div>
                  </li>
                  <li class="form-check list-group-item">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                              5% off
                          </label>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="offset-md-4 offset-lg-4 col-md-4 col-6 col-lg-4">
          <h2>Product features</h2>
          <p>{{overview.description}}</p>
      </div>
  </div>
</div> 



<br>
<br>
<br>
<br>
<br>