<div class="container">
    <div class="heading">
        <span><span *ngIf="showForm" style="font-size: x-large;font-weight: bold;color:black">UserList </span> 
       <a href="javascript:void(0)" title="add"  (click)="show()"> <span *ngIf="showForm" class="fa fa-plus-circle" style="color:darkblue;font-size:22px; padding-left: 15px;"></span></a> </span>
        
    </div>
    <div *ngIf="!showForm">
        <app-create-user (onFormSubmit)="onSubmit($event)" (onFormCancel)="onCancel($event)"></app-create-user>
    </div>
    <table class="table table-dark table-striped" *ngIf="showForm">
        <thead style="color:rgb(238, 146, 41)">
            <tr>
                <th>Name</th>
                <th>gender</th>
                <th>Email</th>
                <th>city</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of usersList">
                <td>{{list.name}}</td>
                <td>{{list.gender}}</td>
                <td>{{list.email}}</td>
                <td>{{list.address.City}}</td>
                <td>{{list.phone}}</td>
                <td> <a href="javascript:void(0)" (click)="editUser(list.id)"><span class="fa fa-edit" style="color: green;"></span></a> &nbsp; &nbsp; 
                    <a href="javascript:void(0)" (click)="deleteUser(list.id)"><span  style="color: red;" class="fa fa-trash"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>