
/* //loader */







.card-title{
    text-align: center;
 }
 .card{
   border:none;
   box-sizing: border-box;
   box-shadow: none;

 }
 
 img{
     width: 50%;
     height: 50%;
     margin: 0 auto;
     background-size: cover;
     margin-top: 15px;
 }
 .card:hover img { 
     transform: scale(1.0,1.0); 
   }
 .card:hover{
     cursor: pointer;
     border: solid 1px #555;
     box-shadow:  0 0 10px  rgba(0,0,0,0.6);
     -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
     -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
 }
/* ///sort// */
 select{
  background-color: aliceblue;
  color: black;
  width: 100px;
  height: 40px;
  float: left;
  margin-left: 1135px;
  border-radius: 8px;
  border: 2px solid rgb(141, 131, 131);
}
