
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
    </div>

<div class="container" >
<br>
    <select (change)="filterall($event)" [(ngModel)]="pricetype">
        <option>All</option>
        <option>Low to High</option>
        <option>High to Low</option>
        
    </select>
    <br>
    <br>
    <div class="row">

        <ng-container *ngFor="let item of selected |sort:pricetype">
       
            <div class="card col-md-3" routerLink="/products/{{item.categorys}}/{{item.productid}}" >

                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <h5 class="card-title" style="font-weight: bold;">{{item.categorys}}</h5>
          
                <h5 class="card-title" style="font-weight: bold;"><strong>Price:</strong> {{item.price|currency:'INR' }}</h5>
                
              </div>
              
       
            </div>
          
        </ng-container>
  
    </div>
  
  </div>

  <br>
  <br>
  <br>