
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
    </div>

<div class="container" >
<br>
<div *ngIf="loaderservice.isLoading | async" class="loader-container">
    <mat-spinner style="top: 0%; left: 10%; " diameter="40"></mat-spinner>
  </div>
    <select (change)="filterall($event)" [(ngModel)]="pricetype">
        <option>All</option>
        <option>A-Z</option>
        <option>Z-A</option>
        <option>Low to High</option>
        <option>High to Low</option>
        <option>Higly Rated</option>

        
    </select>
    <br>
    <br>
    <div class="row">

        <ng-container *ngFor="let item of selected |sort:pricetype">
       
            <div class="card col-md-3" routerLink="/products/{{item.categorys}}/{{item.productid}}" >

                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <h5 class="card-title" style="font-weight: bold;">{{item.categorys}}</h5>
          
                <h5 class="card-title" style="font-weight: bold;"><strong>Price:</strong> {{item.price|currency:'INR' }}</h5>
                
              </div>
              
       
            </div>
          
        </ng-container>
  
    </div>
  
  </div>

  <br>
  <br>
  <br>