<div fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'">
  <mat-card>
    <div class="mat-body-2">Code compilé</div>
    <div class="mat-body-1">Le code écrit en TypeScript est compilé en JavaScript avant d'être utilisé : de ce fait, tout code JavaScript valide est du code TypeScript valide.</div>
  </mat-card>
  <mat-card>
    <div class="mat-body-2">Impératif</div>
    <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes, interfaces, héritage ...</div>
  </mat-card>

  <mat-card>
    <div class="mat-body-2">Impératif</div>
    <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes, interfaces, héritage ...</div>
  </mat-card>
  <mat-card>
    <div class="mat-body-2">Impératif</div>
    <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes, interfaces, héritage ...</div>
  </mat-card>
  <mat-card>
    <div class="mat-body-2">Impératif</div>
    <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes, interfaces, héritage ...</div>
  </mat-card>
  <mat-card>
    <div class="mat-body-2">Impératif</div>
    <div class="mat-body-1">Se rapproche des langages de type impératif, tels que le Java : utilisation de classes, interfaces, héritage ...</div>
  </mat-card>
</div>
<router-outlet></router-outlet>