<hr>

<div class="row" style="text-align:center" data-aos="fade-left" data-aos-delay="600">
  
     
    <!-- mobiles -->
      <div class="col-md-4">
    <div class="row align-items-center" >
      <div class="card apparels" routerLink="/electronics/mobiles"   >
        <div  id="card">
            <h2 class="mb-4">mobiles</h2>
            <p style="color:black" class="mb-4">mobiles </p>
         
              <div class="card-body">        
                      <img style=" width: 301px;height: 165px;" src="../../assets/images/Apparels.jpg" alt="Image" class="img-fluid">
              </div>
                <p  ><a  class="btn btn-info">For more Details</a></p>
            </div>
          </div>
        </div>
        </div>
     
        
     
        <!-- laptops -->
        <!-- ////222/// -->
          <div class="col-md-4">
          <div class="row align-items-center" >
            <div class="card" routerLink="/electronics/laptops">
                  <h2 class="mb-4">laptops</h2>
                  <p style="color:black" class="mb-4">laptops</p>
               
                    <div class="card-body">        
                            <img style=" width: 301px;height: 165px;" src="../../assets/images/Mobiles,Laptops and Home appliances.jpeg" alt="Image" class="img-fluid">
                    </div>
                      <p ><a    class="btn btn-info">For more Details</a></p>
                  </div>
                </div>
              </div>
     
            
     
              <!--homeappliances -->
              <!-- ////3//// -->
               <div class="col-md-4 home">
                <div class="row align-items-center"  >
                  <div class="card" routerLink="/electronics/homeappliances"  >
                        <h2 class="mb-4" id="home">homeappliances</h2>
                        <p style="color:black" class="mb-4">homeappliances</p>
                     
                          <div class="card-body">        
                                  <img style=" width: 301px;height: 165px;" src="../../assets/images/Kitchen items and Home furnishings.png" alt="Image" class="img-fluid">
                          </div>
                            <p><a class="btn btn-info">For more Details</a></p>
                        </div>
                      </div>
     
                    </div>
 </div>
<router-outlet></router-outlet>