.container
{
    border: 2px solid black;
    text-align: center;
    box-shadow: 2px 2px 2px grey;
}
.row
{
    margin-top: 40px;
}
.btn{
    border: 2px solid black;
    border-radius: 3%;
}
option{
    border: 2px solid black;
}
html {
    overflow: scroll;
  }

@media screen and (max-width:1200px)
{
}