
 <h4 style="text-align: center; font-size: 20px;text-decoration: underline;font-weight: bold;">User Profile</h4>

 <div class="container" style="margin: 40px auto; ">
 
<form  [formGroup]="profileForm" (ngSubmit)="updateProfile()">
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group ml-5">
        <mat-label style="font-size: 20px;font-weight: bold;">Full Name:</mat-label>

        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="Full Name" minlength="3"
          name="Name" formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" >
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required"> Name is required</div>
            <div *ngIf="f.Name.errors.minlength"> Name should have minimum 3 characters</div>
            <div *ngIf="f.Name.errors.pattern"> Name should have only characters</div>

        </div>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <mat-label style="font-size: 20px;font-weight: bold;">Email ID:</mat-label>

        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="Email address"minlength="5"
           formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">Email must be a valid email address@</div>
        </div>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <mat-label style="font-size: 20px;font-weight: bold;">Mobile:</mat-label>

        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="Mobile Number" minlength="10" maxlength="10"
           [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"  formControlName="mobile" >
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">mobile number required</div>
            <!-- <div *ngIf="f.mob_number.errors.minlength">mobile number should have 10 digits</div> -->

            <div *ngIf="f.mobile.errors.pattern">mobile number must be valid(6-9)</div>
        </div>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="form-group mb-3">
        <mat-label style="font-size: 20px;font-weight: bold;">Address Line 1 :</mat-label>

        <mat-form-field class="example-full-width dash" appearance="fill" style="width: 1000px;">
          <input matInput color="primary" placeholder="Address Line 1"  formControlName="address_line1" >
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <div class="form-group ">
        <mat-label style="font-size: 20px;font-weight: bold;">Address Line 2 :</mat-label>

        <mat-form-field class="example-full-width dash" appearance="fill" style="width: 1000px;">
          <input matInput color="primary" placeholder="Address Line 2"   formControlName="address_line2">
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <mat-label style="font-size: 20px;font-weight: bold;">City:</mat-label>

        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="City"  formControlName="city">
        </mat-form-field>

      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group mb-4">
        <mat-label  style="font-size: 20px;font-weight: bold;">State :</mat-label>
        <mat-form-field appearance="fill">
         
          <select matNativeControl required  formControlName="state">
            <option value="Select State">Select State</option>
            <option value="Telangana">Telangana</option>
            <option value="Chennai">Chennai</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Delhi">Delhi</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <mat-label style="font-size: 20px;font-weight: bold;">Pin Code:</mat-label>

        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="Pin Code"  formControlName="pin_code"  >
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 col-md-5">
      <div class="form-group  ">
        <mat-label style="font-size: 20px;font-weight: bold;">Alt-Mobile Number:</mat-label>
  
        <mat-form-field class="example-full-width" appearance="fill" >
          <input matInput color="primary" placeholder="Alt-Mobile Number"  formControlName="alt_number">
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group mt-4 ">
       
        <section class="example-section" formGroupName="type">
          <h4><span style="font-weight: bold;">Select prefer type: </span> &nbsp;
            <span>
              <mat-checkbox formControlName="home">Home</mat-checkbox> &nbsp;
              <mat-checkbox formControlName="office">Office</mat-checkbox> &nbsp;
              <mat-checkbox formControlName="others">Others</mat-checkbox>
            </span>
          </h4>
        
        </section>
      </div>
    </div>

      <div class="col-sm-12 col-md-12">
        <button type="button" class="btn btn-warning"  >Cancel</button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn btn-success" type="submit" >Update Profile</button>
      </div>


  </div>
  
</form>
 </div>