.alert
{
    color: red;
}
.user-form
{
    
    h2{
        margin-left: 100px;
    }
    
}

form{
    width: 500px;
    margin: 0 auto;
}



//.....

    .error
    {
        color: red;
    }

    label{
        color: black;
    }