
<div class="user-form">
    <h2>User Form:</h2>
</div>
<br>
<!---Reactive  driven form -->
<form [formGroup]="userform" (ngSubmit)="userSubmit()">
    <div class="form-group" >
        <label >Name:</label>
        <input type="text" class="form-control" formControlName="name">
       
            <div *ngIf="f.name.invalid && f.name.touched ">
            <span class="error" *ngIf="f.name.errors.required">Name is required</span>
        </div>
       
    </div>
    <div class="form-group" >
        <label >Age:</label>
        <input type="text" class="form-control" formControlName="age">
        <!--
            <div *ngIf="f.age.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="f.age.errors.required">Age is required</span>
        </div>
        -->
    </div>
    <div class="form-group" >
        <label >Gender:</label>
        <div class="radio">
            <label > <input type="radio"  value="male"  class="form-control" formControlName="gender">Male</label>
            <!--
                <div *ngIf="f.gender.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
                <span class="error" *ngIf="f.gender.errors.required">Male is required</span>
            </div>
            -->
        </div>
        <div class="radio">
            <label > <input type="radio"  value="female"  class="form-control" formControlName="gender">Female</label>
            <!--
                <div *ngIf="f.gender.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
                <span class="error" *ngIf="f.gender.errors.required">Female is required</span>
            </div>
            -->
        </div>
    </div>
    <div class="form-group" >
        <label >Designation:</label>
        <input type="text" class="form-control" formControlName="designation">
        <!--
            <div *ngIf="f.designation.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="f.designation.errors.required">Designation is required</span>
        </div>
        -->
    </div>
    <div class="form-group" >
        <label >Email:</label>
        <input type="text" class="form-control" formControlName="email">
       <!--
            <div *ngIf="f.email.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="f.email.errors.required">Email is required</span>
            <span class="error" *ngIf="f.email.errors.pattern">Email must follow valid format</span>
        </div>
       -->
    </div>
    <div class="form-group" >
        <label >Phno:</label>
        <input type="text" class="form-control" formControlName="phone">
        <!--
            <div *ngIf="f.phone.invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="f.phone.errors.required">Phone is required</span>
            <span class="error" *ngIf="f.phone.errors.pattern">Phone should be numbers</span>
        </div>
        -->
    </div>
    <div formGroupName="address">
    <div class="form-group" >
        <label >Country:</label>
        <select  class="form-control" formControlName="Country">
            <option *ngFor="let coun of Country"> {{ coun }}</option>
        </select>
       <!--
            <div *ngIf="userform.get('address.Country').invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="userform.get('address.Country').errors.required">Country is required</span>
        </div>
       -->
    </div>
    <div class="form-group" >
        <label >State:</label>
        <select  class="form-control" formControlName="State">
            <option *ngFor="let st of State"> {{ st }}</option>
        </select>
        <!--
            <div *ngIf="userform.get('address.State').invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="userform.get('address.State').errors.required">State is required</span>
        </div>
        -->
    </div>
    <div class="form-group" >
        <label >City:</label>
        <select  class="form-control" formControlName="City">
            <option *ngFor="let ct of City"> {{ ct }}</option>
        </select>
       <!--
            <div *ngIf="userform.get('address.City').invalid && isValidFormSubmitted != null && !isValidFormSubmitted">
            <span class="error" *ngIf="userform.get('address.City').errors.required">City is required</span>
        </div>
       -->
    </div>
</div>
    <div class="form-group" >
      <button class="btn btn-primary mr-2" >{{ bottomLabel }} </button>
      <button class="btn btn-secondary"  (click)="userCancel()">Cancel</button>
    </div>
    
</form>





<!--
    <div class="title" style="margin-left: 250px;">
    <h3 style="color: black;">User form:</h3>


    <form [formGroup]="userform">
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Name: <span style="color: red;">*</span></label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Age: <span style="color: red;">*</span></label>
            <input type="text" class="form-control" formControlName="age">
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Designation: <span style="color: red;">*</span></label>
            <input type="text" class="form-control" formControlName="designation">
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Email: <span style="color: red;">*</span></label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Phone: <span style="color: red;">*</span></label>
            <input type="text" class="form-control" formControlName="phone">
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">City: <span style="color: red;">*</span></label>
            <select  class="form-control" formControlName="City">
                <option *ngFor="let ct of City"> {{ ct }}</option>
            </select>
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">State: <span style="color: red;">*</span></label>
            <select  class="form-control" formControlName="State">
                <option *ngFor="let st of State"> {{ st }}</option>
            </select>
        </div>
        <div class="form-group w-50">
            <label for="" style="font-weight: bold;">Country: <span style="color: red;">*</span></label>
            <select  class="form-control" formControlName="Country">
                <option *ngFor="let coun of Country"> {{ coun }}</option>
            </select>
        </div>
        <span>{{userform.value | json }}</span>
        <div class="form-group" >
            <button class="btn btn-primary mr-2" (click)="onSubmit()">{{ bottomLabel }}</button>
            <button class="btn btn-secondary"  >Cancel</button>
          </div>
    </form>
  
</div>
<br>
-->



<!--
    

    <div class="container" style="margin-left: 250px; color:black">
    <h4>User form:</h4>
    <form #userForm="ngForm" name="form" (ngsubmit)="userForm.form.valid && onSubmit(userForm)">
        <div class="form-group">
            <label for="" style="font-weight: bold;">Name: <span style="color: red;">*</span></label>
            <input type="text" class="form-control w-50" [(ngModel)]="name" name="t1" #t1="ngModel">

            
            <div *ngIf="userForm.submitted && t1.invalid">
                <div *ngIf="t1.errors && (t1.dirty || t1.touched)">
                    <div [hidden]="!t1.errors.required" class="alert alert-danger form-alert">
                        Please enter a name.
                    </div>
                    <div [hidden]="!t1.errors.minlength" class="alert alert-danger form-alert">
                        Enter name greater than 4 characters.
                    </div>
                </div>
            </div>
           

        </div>
        <div class="form-group">
            <label for="" style="font-weight: bold;">Email: <span style="color: red;">*</span></label>
            <input type="email" class="form-control w-50" [(ngModel)]="email" name="t2" #t2="ngModel">
        </div>
        <div class="form-group">
            <label for="" style="font-weight: bold;">Phone: <span style="color: red;">*</span></label>
            <input type="number" class="form-control w-50" [(ngModel)]="phone" name="t3" #t3="ngModel">
        </div>
        <div class="form-group">
            <label for="" style="font-weight: bold;">Designation: <span style="color: red;">*</span></label>
            <input type="text" class="form-control w-50" [(ngModel)]="designation" name="t4" #t4="ngModel">
        </div>
        <div class="form-group">
         <label for="" style="font-weight: bold;">Age: <span style="color: red;">*</span></label>
            <input type="number" class="form-control w-50" [(ngModel)]="age" name="t5" #t5="ngModel">
        </div>
        <div class="form-group">
            <label for="" style="font-weight: bold;">Gender:<span style="color: red;">*</span></label>
           <div class="div" >
               <label for=""style="font-weight: bold;"><input type="radio"  [(ngModel)]="gender" name="t6" #t6="ngModel">Male</label>
               <label for="" style="font-weight: bold;"><input type="radio" [(ngModel)]="gender" name="t6" #t6="ngModel">Female</label>

           </div>
        </div>
        <div class="form-group">
            <label for="" style="font-weight: bold;">City:<span style="color: red;">*</span></label>
           <select name="" id="" class="form-control w-50" [(ngModel)]="city" name="t7" #t7="ngModel">
               <option value="">select city</option>
               <option value="">Hyderabad</option>
               <option value="">Chennai</option>
           </select>
           </div>
           <br>
           <div class="form-group">
               <button class="btn btn-success" type="submit" (click)="onSubmit(userForm)">Submit</button>
           </div>
    </form>
</div>

-->