<div class="container">
 <div class="row" style="padding-top: 20px;">

        <div class="col-md-4"style="margin-top:100px">
        <img src="../../../assets/images/Errors&Auth/robot.png">
    </div>

    <div class="col-md-8" id="matter" style="margin-top:100px">
        <div class="matter" style="color:rgba(27, 25, 25, 0.808)">
        <h1 style=font-size:200px;margin-bottom:200px>404</h1>

        <h1 >something's missing</h1>
        <h4>This page is missing or you </h4>
        <h4>assembled the link incorrectly</h4>
        <a  routerLink=""><img style="width:30px" src="../../../assets//images/Errors&Auth/left-arrow.png">Go back to Home page</a>
    </div>
    </div>
</div>
  
</div>