

 <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="first.invalid"> Name is too short. </div>

  <input formControlName="first" placeholder="First name">
  <input formControlName="last" placeholder="Last name">

  <button type="submit">Submit</button>
</form>
<button (click)="setValue()">Set preset value</button>


 <!--
    <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">Full name:</label>
        <input class="form-control" formControlName="full_name" [(ngModel)]="profile.full_name"
               type="text" name="full_name">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">Email Id:</label>
        <input class="form-control" formControlName="last_name" [(ngModel)]="profile.last_name"
               type="text" name="last_name">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">mobile number:</label>
        <input class="form-control" formControlName="created_by" [(ngModel)]="profile.created_by"
               name="created_by" type="text">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">email address :</label>

     

        <input class="form-control" formControlName="email_address"
               [(ngModel)]="profile.email_address" type="text" name="email_address">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group mb-4">
        <label class="form-label">gender:</label>

       
        <select formControlName="gender" [(ngModel)]="profile.gender" name="gender"
                class="form-select btn-square">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">address:</label>
        <input class="form-control" formControlName="address" [(ngModel)]="profile.address"
               name="address" type="text">

     
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">location:</label>

      

        <input class="form-control" formControlName="location" [(ngModel)]="profile.location"
               name="location" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group mb-4">
        <label class="form-label">qualification:</label>

       

        <input class="form-control" name="qualification" formControlName="qualification"
               [(ngModel)]="profile.qualification" type="text">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">specialization :</label>

       

        <input class="form-control" formControlName="specalisation"
               [(ngModel)]="profile.specalisation" name="specalisation" type="text">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">experience:</label>

      

        <input class="form-control" formControlName="experience" [(ngModel)]="profile.experience"
               name="experience" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">prev hosp exp :</label>

       
        <input class="form-control" formControlName="prev_hosp_exp"
               [(ngModel)]="profile.prev_hosp_exp" name="prev_hosp_exp" type="text">
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="form-group mb-3">
        <label class="form-label">previous hosp :</label>

       

        <input class="form-control" formControlName="previous_hosp"
               [(ngModel)]="profile.previous_hosp" name="previous_hosp" type="text">
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label"> alternative number :</label>

   

      <input class="form-control" formControlName="alternative_number"
             [(ngModel)]="profile.alternative_number" name="alternative_number" type="text">
    </div>
  </div>
 -->