.btn{
    background-color: orange;
    text-align: center;
    color: white;
    margin: 10px;
}
.address{
    height: 180px;
    margin-top: 48px;
    text-align: center;
}
.continue{
    margin-top: 45px;
    text-align: center;
}
th,td{
    padding-left: 15px;
}