

   
    <div class="container bar">
        <label class="floatLeft" for="navBtn"><span></span></label>
        <span class="floatRight paddingRight2rem">
            <b><h1 >Batch-2</h1></b>
        </span>
    </div>

    <div class="container">
       <div class="row">
		<div class="col-md-2">
			<input type="checkbox" class="navBtn" id="navBtn" />
        <nav >

            <ul>
                <li>
                    <a routerLink="coupons"><img src="../../../../assets/images/discount.png" style="width:30px;height:30px">coupons</a>
                </li>
                
                <li>
                    <a routerLink="productlist"><img src="../../../../assets/images/electric-appliance (1).png" style="width:30px;height:30px">Inventory</a>
                </li>
				<li class="nav-item"><a class="nav-link" routerLink="viewusers"><i class="fa fa-user fa-2x" aria-hidden="true"></i>View Users</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="forgotpassword"><i class="fa fa-user fa-2x" aria-hidden="true"></i>Forgot password(user)</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="returnorder"><img src="../../../../assets/images/return-order.png" style="width:30px;height:30px">Return Orders</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="tracker">Tracker</a></li> -->
                <li class="nav-item"><a class="nav-link" routerLink="Transactions" ><i class="fa fa-credit-card" style="font-size:36px"></i>Transactions</a></li>
            </ul>
        </nav>
	</div>
	<div class="col-md-9 " >
		<router-outlet></router-outlet>
	</div>
</div>
    </div>







