

 
<!-- <div class="container-fluid"id="main">
<img src="../../assets/logo.png">
<div class="row row-offcanvas row-offcanvas-left">

<div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0"id="sidebar"role="navigation">

<ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
<li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
<li class="nav-item"><a class="nav-link" href="#">Copouns</a></li>
<li class="nav-item"><a class="nav-link" href="#">Customers</a></li>
<li class="nav-item"><a class="nav-link" href="#">Forgot password(user)</a></li>
<li class="nav-item"><a class="nav-link" href="#">Products</a></li>
<li class="nav-item"><a class="nav-link" href="#">Return Orders</a></li>
<li class="nav-item"><a class="nav-link" href="#">Tracker</a></li>
<li class="nav-item"><a class="nav-link" href="#">Transactions</a></li>
</ul>
</div> -->

<!-- ///2/// -->

<body>
    
    <div class="container bar">
        <label class="floatLeft" for="navBtn"><span></span></label>
        <span class="floatRight paddingRight2rem">
            <b><h1 >Batch-2</h1></b>
        </span>
    </div>
    <div class="container">
        <input type="checkbox" class="navBtn" id="navBtn" />
        <nav>
            <ul>
                <li>
                    <a routerLink="coupons"><i class="fa fa-heart"></i>coupons</a>
                </li>
                <li>
                    <a routerLink="productlist"><i class="fa fa-medkit"></i>productlist</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heartbeat"></i>Third Link</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ambulance"></i>Forth Link</a>
                </li>
            </ul>
        </nav>
    </div>
    
</body>


<!-- ///3//// -->

<!-- <mat-drawer-container>
	<mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<div class="sidenav-header">
			<span>{{collapsedNav && !mobileQuery.matches ? 'S' : 'SideNav'}}</span>
		</div>
		<ul>
			<li>
				<mat-icon>home</mat-icon>
			</li>
			<li>
				<mat-icon>exit_to_app</mat-icon>
			</li>
		</ul>
	</mat-drawer>
	<mat-drawer-content [ngClass]="{'sidenav-collapsed': collapsedNav && !mobileQuery.matches}">
		<mat-toolbar>
			<button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav">
        <mat-icon>menu</mat-icon>
      </button>
		</mat-toolbar>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Home</mat-card-title>
				<mat-card-subtitle>Example of a home screen</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>

			</mat-card-content>
			<mat-card-actions>
				<button mat-button>Ok</button>
			</mat-card-actions>
		</mat-card>
	</mat-drawer-content>
</mat-drawer-container> -->

