<ul class="nav nav-tabs " id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="true">Orders</a>
  </li>


  <!-- <li class="nav-item">
    <a data-toggle="modal" data-target=".bd-example-modal-lg"><i data-feather="Trackorder">
  </i>Trackorder</a></li> -->

  <li class="nav-item">
    <a class="nav-link" id="History-tab" data-toggle="tab" href="#History" role="tab" aria-controls="History" aria-selected="false">History</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="return-tab" data-toggle="tab" href="#return" role="tab" aria-controls="return" aria-selected="false">Return</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
      <div  class=" card ordered col-md-10 offset-md-1">
        <div class="row" *ngFor="let x of products">
          <div class="col-6 col-md-4">
              <img [src]="x.product.image">
           </div>
           <div class="col-sm-12 col-md-6 orders">
               <h2>{{x.product.title}}</h2>
               <p><b>Product Id:</b> {{x.product.productid}}</p>
               <p><b>Product Description:</b> {{x.product.description}}</p>
               <p><b>Price:</b> {{x.price}}</p>
           </div>
           <div class="col-6 col-md-1">
              <div>
                  <button type="button" class="btn btn-success" data-toggle="modal"  (click)="gettrackorder(x.cartsid)" data-target=".bd-example-modal-lg">Track order</button>
                  <button type="button" class="btn btn-danger"  id="History-tab" data-toggle="tab" (click)=cancelorder(x.cartsid) role="tab" aria-controls="History" aria-selected="false"> Cancel order</button>
                  <button  type="button" class="btn btn-warning" (click)="onReturn(x.cartsid)"> Return</button>
                </div>
           </div>
         </div>
          <hr>
      </div>
  </div>
  <div class="tab-pane fade" id="History" role="tabpanel" aria-labelledby="History-tab">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">s.no</th>
            <th scope="col">title</th>
            <th scope="col">image</th>
            <th scope="col">status</th>
          </tr>
        </thead>
            <tbody>
           

              <tr   *ngFor="let x of historydata let i=index" > 
                <th scope="row">{{i+1}}</th>
                <td>{{x.title}}</td>
                <td><img [src]="x.image" style="max-width: 40px; max-height: 35px;"></td>
                <td>{{x.status}}</td>
              </tr>
            </tbody>
      </table>
    </div>
</div>
<!-- ////trackorder// -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl">
<div class="modal-content">

  <div class="progresses py-4">
    <ul class="d-flex align-items-center justify-content-between">
        <li id="step-1"  [style.background-color]="bgcolor1"></li>
        <li id="step-2"   [style.background-color]="bgcolor2"></li>
        <li id="step-3" [style.background-color]="bgcolor3"></li>
        <li id="step-4"  [style.background-color]="bgcolor4"></li>
    </ul>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="width" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

</div>
</div>
</div>

  <!-- //return-order// -->

  <div class="tab-pane fade" id="return" role="tabpanel" aria-labelledby="return-tab">


        <div class="card reason">
          <div class="row">
              <ng-container *ngFor="let order of orders">
           
                <div class="card col-12 col-lg-4" style="border: none; width: 300px;height: 300px;">
                    <img src="{{order.image}}" alt="">
                </div>
                <div class="card col-11 col-sm-12 col-lg-8"  style="padding-top: 50px;border: none;">
                  <ul>
                    <li style="font-size:15px;font-weight: bold;"> {{order.title}}</li>
                    <li> ProductId: <span style="font-weight: bold;"> {{order.description}}</span></li>
                    <li> Price: <span style="font-weight: bold;">RS &nbsp;{{order.price}}/-</span></li>
                   
                    <br>
                    <br>
                    <li *ngIf="!reasonReturn"> <span style="font-weight: bold;"> Reason:</span> <span style="color: red;">{{ order.reason }}</span> </li>
  
                
                   <br>
                   <br>
                   <li *ngIf="!reasonReturn"> <span style="font-weight: bold;"> status:</span> <span style="color: red;">{{ order.status }}</span> </li>
  
                  </ul>
                  
                </div>
         
                <div class="row" *ngIf="reasonReturn">
                  <div class="col-md-8 col-12 col-sm-12">
                    <h1>Reason:</h1>
                    <textarea class="col-12 " name="" id="" cols="100" rows="5" placeholder="Type Here!" #returnProduct></textarea>
                    <button type="submit" (click)="onReturn(order)">Submit</button>
                    
                  </div>
                </div>
           
 
            </ng-container>
            
          </div>
      
        </div>
    <!-- </div> -->
    <!--return end-->
  </div>
</div>