

.container{
    margin-top: 20px;
}
ul li{
    margin-right: 80px;
}
ul li a {
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color:none;
}
ul li a.active{
    background-color: #74bcdb;
    color: black;
}
.orders{
    min-height: 200px;
}
.ordered{
    margin-left: 0 auto;
}
img{ 
    height: 30vh;
    }
.btn{
    margin: 10px;
    text-align: center;
    height: 35px;
    width: 150px;
    color: white;
}
th{
    text-align: center;
}

.tab-content{
    margin-top: 15px;
}