

.container{
    margin-top: 20px;
}
ul li{
    margin-right: 80px;
}
ul li a {
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color:none;
}
ul li a.active{
    background-color: #74bcdb;
    color: black;
}

.card{
    padding: 10px;
    margin: 10px;
    box-shadow: black 5px;
    text-align: center;
}
/* .orders{
    min-height: 200px;
} */


.btn{
    text-align: center;
    height: 35px;
    margin: 5px;
    width: 150px;
    color: white;
}

th{
    text-align: center;
}

.tab-content{
    margin-top: 15px;
}



.progresses {
    position: relative;
    max-width: 80%;
    margin: auto
}

.progresses ul {
    list-style: none;
    padding: 0
}

.progresses ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: 2;
    position: relative
}

 .progresses ul li.blue {
    
    background-color: #3268ff
 }

.progresses ul li::after {
    position: absolute;
    top: 35px;
    left: -15px;
    font-size: 0.8rem;
    width: 95px
}

#step-1::after {
    content: "Product Ordered"
}

#step-2::after {
    content: "In Transit";
    left: -5px
}

#step-3::after {
    content: "Pickup";
    left: -5px;
    
}
#step-4::after {
    content: "Delivered"
}

.progresses .progress {
    height: 0.8rem;
    width: 100%;
    top: 33px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px
}

